---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="card">
			<header>
				<ul>
					<li>
						<a href="#">blog</a>
					</li>
					<li>
						<a href="#">email</a>
					</li>
					<li>
						<a href="#">github</a>
					</li>
					<li>
						<a href="#">twitter</a>
					</li>
					<li>
						<a href="#">behance</a>
					</li>
				</ul>
			</header>
			<main>
				<section class="user">
					<div class="avatar">
						<img src="" alt="a headshot of disney">
					</div>
					<div class="name">Disney Constant</div>
				</section>
				<section class="about">
					<p>As a <span>front-end</span> developer I have a keen interest in building, maintaining and enhancing user experience, I'm also passionate about the possibilities of <span>AI</span> and its impact in various domains. If I am not coding, you will find that I am an avid <span>photographer</span> capturing moment through my lens. I am excited to connect and discuss our shared interest, if you have come this far to visit me.</p>
				</section>
			</main>
		</div>
	</body>
</html>
